body {
    background-color: #fdf1d3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    display:flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

a svg:hover{
    animation-name: example;
  animation-duration: 1s;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    color: #ff9900;
}
@keyframes example {
  from {height:12px; width:12px;}
  to {height:14px; width:14px;}
}