/* common styling za cijelu stranicu */
body {
    background-color: #fdf1d3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styling za formu unosa perioda i cijena */
label {
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
#centriraj{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

button:hover {
    background-color: #45a049;
}

/* Kontejner za grafove */
#chartContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    width:50%;
}
h1{
    text-align:center;
}
/* Svaki canvas za graf */
#chartContainer canvas {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 400px;
    height: 300px;
}

iframe {
    border: none;
    width: 100%;
    height: 60px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
@media (max-width:800px){
    iframe{
height:120px;
    }
}
@media (max-width:500px){
    iframe{
height:180px;
    }
}