<!DOCTYPE html>
<html lang="bs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greška</title>
    <!-- Uključivanje CSS fajla -->
    <link rel="stylesheet" href="/style/error.css">
</head>
<body>
   
    <div class="error-container">
        <div class="error-message"><%= message %></div>
        <a href="<%=path%>" class="back-button">Vrati se na <%=vratigdje%></a>
    </div>
</body>
</html>
<!-- message path vratigdje aktivnaStranica-->